@using EPiServer.Web.Routing
@using EPiServer.Reference.Commerce.Site.Features.MoseySupply.Models

@model EPiServer.Reference.Commerce.Site.Features.ResetPassword.ViewModels.ForgotPasswordViewModel

<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            @if (Model.StartPage.PageTypeName.Equals(typeof(MoseySupplyStartPage).Name))
            {
                @Html.Partial("_CmsNavigation", Model.CurrentContent)
            }

            <div class="col-xs-12 col-md-8">
                <div class="page-title forgot-password-title">
                    <p>@Html.PropertyFor(model => model.CurrentContent.MainBody)</p>
                </div>

                @using (Html.BeginForm("ForgotPassword", null, new { language = ViewContext.RequestContext.GetLanguage() }, FormMethod.Post, new { @class = "form-horizontal form-forgot-password", role = "form" }))
                {
                    <div class="col-md-12 col-sm-12">
                        @Html.AntiForgeryToken()
                        <div class="col-md-6 col-sm-6">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autofocus = "autofocus", placeHolder = Html.Translate("/ResetPassword/Form/Placeholder/Email") })
                            </div>
                            <div class="form-group">
                                @if (!(bool)ViewData["IsReadOnly"])
                                {
                                    <input type="submit" class="btn btn-primary" value="@Html.Translate("/ResetPassword/Form/Label/Send")" />
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger col-md-offset-1" })
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>