@using EPiServer.Commerce.Order
@using EPiServer.Reference.Commerce.Site.Features.MoseySupply.Models
@using EPiServer.Reference.Commerce.Site.Features.Navigation.ViewModels
@model EPiServer.Reference.Commerce.Site.Features.SubscriptionHistory.ViewModels.PaymentPlanDetailViewModel

<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row container--gutter container--gutter-inner">
            <div class="col-xs-12 col-md-9">
                <div class="page-title">
                    <h2>@Html.PropertyFor(x => x.CurrentContent.Name)</h2>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        @Html.Translate("/PaymentPlanHistory/Detail/OrderNo"): @Model.PaymentPlan.OrderGroupId <br />
                        @Html.Translate("/PaymentPlanHistory/Detail/OrderTotal"): @Model.PaymentPlan.GetTotal() <br />
                        @Html.Translate("/PaymentPlanHistory/Detail/Active"): @Model.PaymentPlan.IsActive <br/>
                        @Html.Translate("/PaymentPlanHistory/Detail/Status"): @Model.PaymentPlan.Status
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        @Html.Translate("/PaymentPlanHistory/Detail/LastTransaction"): @Model.PaymentPlan.LastTransactionDate <br />
                        @Html.Translate("/PaymentPlanHistory/Detail/Completed"): @Model.PaymentPlan.CompletedCyclesCount <br />
                        @Html.Translate("/PaymentPlanHistory/Detail/CycleLength"): @Model.PaymentPlan.CycleLength <br />
                        @Html.Translate("/PaymentPlanHistory/Detail/CycleMode"): @Model.PaymentPlan.CycleMode <br />
                        @Html.Translate("/PaymentPlanHistory/Detail/EndDate"): @Model.PaymentPlan.EndDate
                    </div>
                    <div class="recent-orders">
                        <div class="table-responsive">
                            <table class="data-table" id="my-orders-table">
                                <thead>
                                    <tr class="first last">
                                        <th>@Html.Translate("/OrderHistory/Labels/OrderID")</th>
                                        <th>@Html.Translate("/OrderHistory/Labels/OrderDate")</th>
                                        <th>@Html.Translate("/OrderHistory/Labels/ShippedTo")</th>
                                        <th><span class="nobr">@Html.Translate("/OrderHistory/Labels/TotalPrice")</span></th>
                                        <th>@Html.Translate("/OrderHistory/Labels/Status")</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var order in Model.Orders.Orders)
                                    {
                                        <tr>
                                            <td><a href="@(Model.Orders.OrderDetailsPageUrl)?orderGroupId=@order.PurchaseOrder.OrderLink.OrderGroupId">#@order.PurchaseOrder.OrderNumber</a></td>

                                            <td>@order.PurchaseOrder.Created.ToString()</td>
                                            <td>
                                                @foreach (var shippingAddress in order.ShippingAddresses)
                                                {
                                                    @Html.Partial("_Address", shippingAddress)
                                                }
                                            </td>
                                            <td><span class="price">@order.PurchaseOrder.GetTotal().ToString()</span></td>
                                            <td><em>@order.PurchaseOrder.OrderStatus</em></td>
                                            <td class="a-center last"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="recent-orders">
                    <div class="table-responsive">
                        <table class="data-table" id="my-orders-table">
                            <thead>
                                <tr class="first last">
                                    <th>@Html.Translate("/OrderHistory/Labels/OrderID")</th>
                                    <th>@Html.Translate("/OrderHistory/Labels/OrderDate")</th>
                                    <th>@Html.Translate("/OrderHistory/Labels/ShippedTo")</th>
                                    <th>@Html.Translate("/OrderHistory/Labels/Status")</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var order in Model.Orders.Orders)
                                {
                                    <tr>
                                        <td><a href="@(Model.Orders.OrderDetailsPageUrl)?orderGroupId=@order.PurchaseOrder.OrderLink.OrderGroupId">#@order.PurchaseOrder.OrderNumber</a></td>

                                        <td>@order.PurchaseOrder.Created.ToString()</td>
                                        <td>
                                            @foreach (var shippingAddress in order.ShippingAddresses)
                                            {
                                                @Html.Partial("_Address", shippingAddress)
                                            }
                                        </td>
                                        <td><em>@order.PurchaseOrder.OrderStatus</em></td>
                                        <td class="a-center last">
                                            
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @{
                Html.RenderAction("MyAccountMenu", "Navigation", new { id = MyAccountPageType.Link });
            }
        </div>
    </div>
</section>
