@using EPiServer.Core
@using EPiServer.Reference.Commerce.Site.Extensions
@model EPiServer.Reference.Commerce.Shared.SitePageData

@if (!IsMosey)
{
    <div class="border">
        @using (Html.BeginConditionalLink(Model.HasTemplate(), Url.PageLinkUrl(Model), Model.PageName))
        {
            <div class="media">
                @if (!ContentReference.IsNullOrEmpty(Model.PageImage))
                {
                    <div class="mediaImg">
                        <img class="img-responsive" src="@Url.ContentUrl(Model.PageImage)" />
                    </div>
                }
                <h2>@Model.PageName</h2>
                <p>@Model.TeaserText</p>
            </div>

        }
    </div>
}
else
{
    <div class="teaser @Model.ThemeCssClass @Model.AlignmentCssClass @(Model.ApplyHoverEffect ? "show-details" : String.Empty)">
        <div class="teaser-text-container">
            <div class="teaser-text">
                <h2>@Model.PageName</h2>
                <div class="teaser-details">
                    @if (!String.IsNullOrWhiteSpace(Model.TeaserText))
                {
                    <p>@Model.TeaserText</p>
            }
                    @if (!String.IsNullOrWhiteSpace(Model.TeaserButtonText))
                {
                    <p><a class="button" href="@Url.ContentUrl(Model.ContentLink)">@Model.TeaserButtonText</a></p>
            }
                </div>
            </div>
        </div>

        <div class="teaser-image" style="background-image: url('@Url.ContentUrl(Model.PageImage)'">
            @if (Model.TeaserVideo != null)
            {
                <video class="video-container" autoplay loop playsinline muted>
                    <source src="@Url.ContentUrl(Model.TeaserVideo)" type="video/mp4">
                </video>
            }
        </div>

    </div>
}