@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model EPiServer.Reference.Commerce.Site.modules._protected.SiteModules.Orders.PaymentsViewModel

<section class="panel general">
    <header class="panel-heading bg-green-gradient">
        Payments
    </header>
    <div class="panel-body">
        <ul class="nav nav-tabs">
            @for (var paymentIndex = 0; paymentIndex < Model.Payments.Count; paymentIndex++)
            {
                <li class="@(paymentIndex == 0 ? " active" : "" )">
                    <a data-toggle="tab" href="@(string.Format(" #payment{0}", paymentIndex))">@(string.Format("Payment {0}", paymentIndex + 1))</a>
                </li>
            }
        </ul>
        <div class="tab-content">
            @for (var paymentIndex = 0; paymentIndex < Model.Payments.Count; paymentIndex++)
            {
                <div id="@(string.Format(" payment{0}", paymentIndex))" class="@(paymentIndex == 0 ? " tab-pane active" : "tab-pane")">




                </div>
            }
        </div>
    </div>
</section>