@using System.Web.Optimization
@using EPiServer.Commerce.Catalog.ContentTypes
@using EPiServer.Editor
@using EPiServer.Reference.Commerce.Site.Features.Shared.Extensions
@using EPiServer.Framework.Web.Mvc.Html
@using EPiServer.Reference.Commerce.Site.Extensions
@using Constants = EPiServer.Reference.Commerce.B2B.Constants
@using EPiServer.Security
@model EPiServer.Reference.Commerce.Site.Features.Shared.ViewModels.IContentViewModel<IContent>

<!DOCTYPE html>
<html lang="en" class="@(PageEditing.PageIsInEditMode ? "editMode" : "")">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="">
    <title> @{ Html.RenderAction("Title", "Head"); }</title>
    @Html.CanonicalLink()

    @if (Model.CurrentContent is CatalogContentBase)
    {
        @RenderSection("Meta", false)
    }
    else
    {
        @Html.RenderMetaData(Model.CurrentContent)
    }
    <link rel="icon" href="~/Assets/Images/episerver.png" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/Assets/Images/icons/icon-180x180.png">
    <link rel="shortcut icon" href="~/Assets/Images/episerver.png" type="image/x-icon" />

    @Styles.Render("~/bundles/baseStyle")
    @Styles.Render("~/bundlesMosey/style")
    @Html.RenderExtendedCss(Model.CurrentContent)
    @Html.RequiredClientResources("Header")
    @{
        var renderAdminBanner = Request.Cookies[Constants.Cookies.B2BImpersonatingAdmin] != null && !string.IsNullOrEmpty(Request.Cookies[Constants.Cookies.B2BImpersonatingAdmin].Value);
    }
    @if (!PageEditing.PageIsInEditMode && Model.StartPage.ShowShareThis)
    {
        <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=59a70b2039509a0011b10e4e&product=inline-share-buttons" async="async"></script>
    }
    @*We need to reference the manifest file that includes detailed information about your PWA.*@
    <link rel='manifest' href='/manifest.json'>
</head>
<body class="cms-index-index cms-home-page theme-mosey">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">
        <defs>
            <g id="icon-cart">
                <path d="M12,8 L12,6.21874691 C12,3.89492506 13.7837878,2 16,2 C18.2162122,2 20,3.89492506 20,6.21874691 L20,8 L27,8 L27,30 L5,30 L5,8 L12,8 Z M13,8 L19,8 L19,6.21874691 C19,4.43414967 17.6499632,3 16,3 C14.3500368,3 13,4.43414967 13,6.21874691 L13,8 Z M12,9 L6,9 L6,29 L26,29 L26,9 L20,9 L20,12.5 L19,12.5 L19,9 L13,9 L13,12.5 L12,12.5 L12,9 Z" id="path-1"></path>
            </g>
            <g id="icon-door">
                <path d="M23,16.5 L23,3 L10,3 L10,29 L23,29 L23,17.5 L20,17.5 L20,16.5 L23,16.5 Z M9,30 L9,2 L24,2 L24,30 L9,30 Z" id="path-1"></path>
            </g>
            <g id="icon-facebook">
                <path d="M1.7660944,0 C0.790606008,0 0,0.790603046 0,1.76608779 L0,30.2337923 C0,31.2091572 0.790606008,32 1.7660944,32 L17.0922688,32 L17.0922688,19.6078907 L12.921984,19.6078907 L12.921984,14.778426 L17.0922688,14.778426 L17.0922688,11.2168756 C17.0922688,7.08377452 19.6165969,4.83318159 23.3036936,4.83318159 C25.0699079,4.83318159 26.5878139,4.96458907 27.0301168,5.02333877 L27.0301168,9.34276026 L24.4729368,9.34395923 C22.4677662,9.34395923 22.0794173,10.2967834 22.0794173,11.6950261 L22.0794173,14.778426 L26.8617803,14.778426 L26.2391511,19.6078907 L22.0794173,19.6078907 L22.0794173,32 L30.2339056,32 C31.2092741,32 32,31.2091572 32,30.2337923 L32,1.76608779 C32,0.790603046 31.2092741,0 30.2339056,0 L1.7660944,0 Z" id="path-1"></path>
            </g>
            <g id="icon-search">
                <path d="M14,23 C18.9705627,23 23,18.9705627 23,14 C23,9.02943725 18.9705627,5 14,5 C9.02943725,5 5,9.02943725 5,14 C5,18.9705627 9.02943725,23 14,23 Z M14,24 C8.4771525,24 4,19.5228475 4,14 C4,8.4771525 8.4771525,4 14,4 C19.5228475,4 24,8.4771525 24,14 C24,19.5228475 19.5228475,24 14,24 Z M21.2928932,22 L22,21.2928932 L27.2071068,26.5 L26.5,27.2071068 L21.2928932,22 Z" id="path-1"></path>
            </g>
            <g id="icon-twitter">
                <path d="M10.06336,29 C22.13888,29 28.74368,18.9962435 28.74368,10.3210309 C28.74368,10.0368914 28.74368,9.7540319 28.72448,9.47245226 C30.0093841,8.54312537 31.118535,7.39244832 32,6.07429802 C30.8017652,6.6052059 29.5306615,6.95337512 28.22912,7.10718332 C29.5996723,6.28673969 30.6254381,4.99632412 31.11552,3.47608593 C29.8267616,4.24077343 28.416827,4.77968704 26.94656,5.06957069 C24.9114659,2.90575185 21.6777208,2.37614959 19.0586231,3.77773442 C16.4395254,5.17931926 15.086432,8.16352386 15.75808,11.0569777 C10.4792265,10.7923562 5.560929,8.2991909 2.2272,4.19795372 C0.484637128,7.19760203 1.37470449,11.0350394 4.25984,12.9614799 C3.21502874,12.9305158 2.1929976,12.6486874 1.28,12.1397794 C1.28,12.1666574 1.28,12.1948154 1.28,12.2229733 C1.28085521,15.3479863 3.4838419,18.0395577 6.5472,18.6583479 C5.58063308,18.9219321 4.56650315,18.9604628 3.58272,18.7709798 C4.44281335,21.4452476 6.90761544,23.2772572 9.71648,23.3300101 C7.39166085,25.1569908 4.51975617,26.1487857 1.56288,26.1458064 C1.04051657,26.1448037 0.518661204,26.1131784 0,26.0510933 C3.00241402,27.9777079 6.49588915,28.9996377 10.06336,28.9948804" id="path-1"></path>
            </g>
            <g id="icon-instagram">
                <path d="M16.0000318,0 L15.9999047,0 C20.3452411,0 20.8902976,0.018418509 22.5966001,0.0966019042 C24.2996636,0.174023154 25.4626879,0.444457676 26.4804613,0.839693475 C27.5481547,1.24153453 28.5153728,1.87144754 29.3145392,2.68554564 C30.1284403,3.48471839 30.7582213,4.45181714 31.1599956,5.51945554 C31.5555459,6.53717343 31.8259782,7.70020701 31.9037164,9.40328397 C31.9815816,11.1096001 32,11.6547244 32,16.0000318 C32,20.3453391 31.9815816,20.8902094 31.9037164,22.5967795 C31.8259782,24.299793 31.5555459,25.4628266 31.1599956,26.4805445 C30.3287559,28.6297304 28.6297572,30.3287426 26.4807153,31.159989 C25.462942,31.5555423 24.2999176,31.8259768 22.5968542,31.9037157 C20.8905517,31.9815815 20.3454316,32 16.0001588,32 C11.6548859,32 11.1100199,31.9815815 9.40346337,31.9037157 C7.70046344,31.8259768 6.53743909,31.5555423 5.51966577,31.159989 C4.45209936,30.7582114 3.48494477,30.1284254 2.68577836,29.3145179 C1.87187726,28.5153451 1.24209628,27.5481829 0.840321924,26.4805445 C0.444771706,25.4628901 0.174339331,24.2998565 0.0966011373,22.5967795 C0.0184183628,20.8904635 0,20.3454026 0,16.0000318 C0,11.6546609 0.0184183628,11.1096001 0.0966011373,9.40328397 C0.174021773,7.70020701 0.444454148,6.53717343 0.839686808,5.51939203 C1.24158819,4.45175363 1.87155971,3.48459137 2.68565134,2.68548213 C3.48481775,1.87157456 4.45197233,1.24178858 5.51953875,0.840011035 C6.53724856,0.444457676 7.7002729,0.174023154 9.40333634,0.0962843437 C11.1096389,0.018418509 11.6546954,0 16.0000318,0 Z M15.9999047,2.88294125 L16.0000318,2.88287773 C11.7277337,2.88287773 11.2217368,2.89920034 9.5345513,2.97617701 C7.97457948,3.04731056 7.12739831,3.30796422 6.56360587,3.52708096 C5.86866199,3.78354282 5.24002421,4.19256075 4.72392899,4.72396649 C4.19246395,5.24006581 3.78344928,5.86870858 3.52692594,6.56372149 C3.30781093,7.12758192 3.04722286,7.97470631 2.97602636,9.53469051 C2.8990503,11.2220165 2.88272782,11.7278903 2.88272782,16.0002223 C2.88272782,20.2724907 2.8990503,20.7786187 2.97602636,22.4657541 C3.04715934,24.0257383 3.30781093,24.8729262 3.52692594,25.4367231 C3.78338576,26.1316725 4.19240044,26.7603153 4.72380196,27.2764146 C5.23989719,27.8078203 5.86853497,28.2167747 6.56347885,28.4732366 C7.1273348,28.6923533 7.97445246,28.953007 9.53442428,29.0242041 C11.2214828,29.1011807 11.7272891,29.1175033 15.9999047,29.1175033 C20.2725203,29.1175033 20.7785172,29.1011807 22.4653852,29.0242041 C24.025357,28.9530705 24.8725382,28.6924169 25.4363306,28.4732366 C26.8317439,27.9350351 27.9346228,26.8321474 28.4728835,25.4367231 C28.691935,24.8728627 28.9525866,24.0257383 29.0238466,22.4657541 C29.1007592,20.7784281 29.1170816,20.2725542 29.1170816,16.0002223 C29.1170816,11.7278903 29.1007592,11.2218894 29.0238466,9.53469051 C28.9526501,7.97470631 28.6919985,7.1275184 28.4728835,6.56372149 C28.2164237,5.86877209 27.807409,5.24012933 27.2760075,4.72403 C26.7599123,4.19262426 26.131338,3.78360634 25.4363306,3.52714448 C24.8724747,3.30802773 24.025357,3.04743758 22.4653852,2.97624052 C20.7780726,2.89926386 20.2720757,2.88294125 15.9999047,2.88294125 Z M16.1682377,7.84624635 C11.6584238,7.84624635 8.00246107,11.4689139 8.00246107,15.9376566 C8.00246107,20.4064619 11.6584238,24.0291294 16.1682377,24.0291294 C20.6780516,24.0291294 24.3340143,20.4064619 24.3340143,15.9376566 C24.3340143,11.4689139 20.6780516,7.84624635 16.1682377,7.84624635 M16.1682377,21.1899273 C13.240829,21.1899273 10.8676946,18.8383426 10.8677577,15.9375941 C10.8677577,13.0368455 13.2409553,10.685386 16.1683639,10.685386 C19.0957726,10.6854485 21.4688439,13.0369706 21.4688439,15.9376566 C21.4688439,18.8384052 19.0956463,21.1899273 16.1682377,21.1899273 Z M25.2934552,5.88468476 C26.5562623,5.88468476 27.5799105,6.89907263 27.5799105,8.15028839 C27.5799105,9.40157911 26.5562623,10.415892 25.2934552,10.415892 C24.0307238,10.415892 23.0070756,9.40157911 23.0070756,8.15028839 C23.0070756,6.89907263 24.0307238,5.88468476 25.2934552,5.88468476 Z" id="path-1"></path>
            </g>
        </defs>
    </svg>

    @if (renderAdminBanner)
    {
        Html.RenderPartial("_AdminImpersonatorHeader");
    }

    @Html.RenderEPiServerQuickNavigator()
    @if (!PageEditing.PageIsInEditMode && PrincipalInfo.HasEditAccess)
    {
        // Add element to make room for quick navigator.
        <div class="container-fluid"><div class="container"><p>&nbsp;</p></div></div>
    }

    @Html.RenderReadonlyMessage()
    <div id="ModalDialog" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
        </div>
    </div>
    <div id="page">
        @{
            Html.RenderAction("Header", "Navigation");
        }
        @Html.Partial("Header/_Navigation", Model)

        @RenderSection("Breadcrumbs", false)

        @if (Model.StartPage.ShowCommerceHeaderComponents)
        {
            @Html.Partial("Header/_HeaderBanner", Model)
        }

        @RenderSection("Top", false)

        @RenderBody()

        @Html.Partial("Footer/_FooterFeatures", Model.StartPage)
        @Html.Partial("Footer/_Footer")
        @Html.Partial("_Notifications", Model.StartPage)
    </div>

    @{
        Html.RenderAction("MobileNavigation", "Navigation");
    }

    <!-- JavaScript -->
    @Scripts.Render("~/bundles/base")
    @Scripts.Render("~/bundles/base/jqueryExt")
    @Scripts.Render("~/bundles/base/features")
    <script src="/signalr/hubs"></script>
    @RenderSection("AdditionalScripts", false)

    <script src="~/pwabuilder-sw-register.js" async></script>

    <script>

        let deferredPrompt = null;

        window.addEventListener('beforeinstallprompt', (e) => {
            // Prevent Chrome 67 and earlier from automatically showing the prompt
            e.preventDefault();
            // Stash the event so it can be triggered later.
            deferredPrompt = e;
        });

        async function install() {
            if (deferredPrompt) {
                deferredPrompt.prompt();
                console.log(deferredPrompt)
                deferredPrompt.userChoice.then(function (choiceResult) {

                    if (choiceResult.outcome === 'accepted') {
                        console.log('Your PWA has been installed');
                    } else {
                        console.log('User chose to not install your PWA');
                    }

                    deferredPrompt = null;

                });


            }
        }

    </script>

    @Html.RequiredClientResources("Footer")
</body>
</html>