﻿@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="">
    <title></title>
    @Styles.Render("~/bundlesMosey/style")
</head>
<body class="cms-index-index cms-home-page">
    @RenderBody()

    <!-- JavaScript -->
    @Scripts.Render("~/bundles/base")
    @Scripts.Render("~/bundlesMosey/js")
    @Scripts.Render("~/bundlesMosey/features")

    <script type='text/javascript'>
        @RenderSection("AdditionalScripts", false)
    </script>
</body>
</html>

