@using System.Web.Mvc.Html
@using EPiServer.Reference.Commerce.Site.Features.MoseySupply.Models
@using EPiServer.Reference.Commerce.Site.Features.Navigation.ViewModels
@model EPiServer.Reference.Commerce.Site.Features.Budgeting.ViewModels.BudgetingPageViewModel

<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-9">
                <div class="page-title">
                    <h2>@Html.PropertyFor(x => x.CurrentContent.Name)</h2>
                </div>
                <p>@Html.PropertyFor(model => model.CurrentContent.MainBody)</p>
                <div class="spacer-left-l">
                    @{ Html.RenderAction("Index", "B2BNavigation");}
                    <section class="spacer-bottom-l">
                        <div class="section-title spacer-bottom-l">
                            <h2 class="h3">@Html.Translate("/B2B/Budgeting/EditPurchaserBudget")</h2>
                        </div>
                        @using (Html.BeginForm("UpdateUserBudget", "BudgetingPage", FormMethod.Post))
                        {
                            <div class="form-group">
                                <label class="col-sm-2">@Html.Translate("/B2B/Budgeting/Currency")</label>
                                <div class="custom-select">
                                    <span class="custom-select-split"></span>
                                    <span class="custom-select-arrow arrow-down"></span>
                                    <select id="currencyBudget" @(Model.NewBudgetOption.IsCurrentBudget ? "disabled" : "")>
                                        <option value="@Model.NewBudgetOption.Currency" selected>@Model.NewBudgetOption.Currency</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2">@Html.Translate("/B2B/Budgeting/Allocated")</label>
                                <input id="amount" type="text" class="form-control" value="@Model.NewBudgetOption.Amount.ToString("N")" />
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2">@Html.Translate("/B2B/Budgeting/SpentBudget")</label>
                                <input type="text" class="form-control" value="@Model.NewBudgetOption.SpentBudget.ToString("N")" disabled />
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2">@Html.Translate("/B2B/Budgeting/Remaining")</label>
                                <input type="text" class="form-control" value="@Model.NewBudgetOption.RemainingBudget.ToString("N")" disabled />
                                <small class="col-sm-offset-2">@Html.Translate("/B2B/Budgeting/CalculatedDate")</small>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2">@Html.Translate("/B2B/Budgeting/StartDate")</label>
                                <div class="custom-date-input">
                                    <input type="text" id="startDate" class="form-control" @(Model.NewBudgetOption.IsCurrentBudget ? "disabled" : "") />
                                    <span class="icon-calendar glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2">@Html.Translate("/B2B/Budgeting/DueDate")</label>
                                <div class="custom-date-input">
                                    <input type="text" id="dueDate" class="form-control" @(Model.NewBudgetOption.IsCurrentBudget ? "disabled" : "") />
                                    <span class="icon-calendar glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2">@Html.Translate("/B2B/Budgeting/Status")</label>
                                <div class="custom-select">
                                    <span class="custom-select-split"></span>
                                    <span class="custom-select-arrow arrow-down"></span>
                                    <select id="statusBudget">
                                        <option value="Planned" selected="selected">@Html.Translate("/B2B/Budgeting/Planned")</option>
                                        <option value="OnHold">@Html.Translate("/B2B/Budgeting/OnHold")</option>
                                    </select>
                                </div>
                            </div>

                            <div class="spacer-top-l">
                                <button type="button" data-budget-id="@Model.NewBudgetOption.BudgetId" class="btn btn-primary jsUpdateUserBudget">
                                    @Html.Translate("/Shared/Save")
                                </button>
                                <a href="@Url.Action("Index", "BudgetingPage")" class="btn btn-default cancelUpdateBudget">
                                    @Html.Translate("/Shared/Cancel")
                                </a>
                            </div>
                            <div id="BudgetWarningMessage" class="col-md-5 col-xs-12 alert alert-danger pull-right" hidden>
                                <button type="button" class="close" data-hide="alert">&times;</button>
                                <span class="warning-message warning-message-data"></span>
                            </div>
                        }
                    </section>
                </div>
            </div>
            @{
                Html.RenderAction("MyAccountMenu", "Navigation", new { id = MyAccountPageType.Organization });
            }
        </div>
    </div>
</section>
<script>
    $("#dueDate").val("@Model.NewBudgetOption.DueDate.ToShortDateString()");
    $("#startDate").val("@Model.NewBudgetOption.StartDate.ToShortDateString()");
</script>